.grid-container {
  display: grid;
  grid-template-areas:
    "logo social"
    "logo phone"
    "nav nav"
    "design design";
  grid-template-columns: 1fr 1fr;
}

.logo {
  grid-area: logo;
}
.social {
  grid-area: social;
  justify-self: end;
}
.phone {
  grid-area: phone;
  justify-self: end;
}
.nav {
  grid-area: nav;
}
.design {
  grid-area: design;
}

/* Средние экраны (768px и больше) */
@media (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "logo nav social phone"
      "logo nav social design";
    grid-template-columns: auto 1fr auto auto;
  }
}
